<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <link rel="stylesheet" href="/styles/globals.css" />
    <link rel="stylesheet" href="/styles/tailwind-styles.css" />
    <link rel="stylesheet" href="/styles/Home.module.css" />
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script type="module" src="/react/static/js/main.8b1425f9.js"></script>
</html>
